/* Write your CSS code here */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  box-sizing: border-box;
}
.notfound-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.img-text-notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.notfound-img {
  width: 35%;
  margin-bottom: 30px;
}
.notfound-text {
  font-size: 38px;
  color: #551e53;
  margin-bottom: 30px;
}
/* --------------------------------------------------------------- */
@media (width <= 768px) {
  .notfound-img {
    width: 65%;
  }
}
